<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.nslim.moygorod"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>MoyGorod</name>

  <description>
      MoyGorod project app.
  </description>
  
  <content src="http://google.ru" />

  <access origin="*" />

  <author href="https://github.com/nslim13/moygorodtest/" email="nslim@mail.ru">
      NSliM13
  </author>

</widget>